.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 22px;
}
.quiz-btn{
    height: 48px;
    width: 376px;
    margin-bottom: 42px;
    border-radius: 8px;
    border: none;
    background-color: #e5b1ff;
    color: #ffff;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.quiz-btn:hover{
    box-shadow: #d6d6d6 1px 1px 5px ;
}