.Nav{
    height: fit-content;
}
.Nav-logo{
    position: absolute;
    bottom: 648px;
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
